<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ieagcm.simaski.desarrollo.com.ieag_cm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.IEAG" >
        <activity
            android:name=".splash.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actividades.ActividadPrincipal"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ConNavigationDrawer">
        </activity>
        <activity
            android:name=".actividades.ActividadEvalContabilidad"
            android:label="@string/titulo_actividad_evalcontabilidad"
            android:parentActivityName=".actividades.ActividadPrincipal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".actividades.ActividadPrincipal" />
        </activity>
    </application>

</manifest>